<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='p.png') }}">
        <title>Trapezzio calculator</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='errorc.css') }}">
    </head>
</head>

<body>
    <h1>Error 404 - Page not found</h1>
    <p>We're sorry, the page you requested could not be found.</p>
    <p>Please check the URL and try again, or click the button below to go back to the homepage.</p>
    <a href="/">Go to homepage</a>
</body>

</html>